$playerColorBlue: rgb(121, 128, 228);
$playerColorRed: rgb(231, 85, 85);
$cardSize: 200px;
$capturedSize: 150px;

.redPlayerColor {
    color: $playerColorRed;
}

.bluePlayerColor {
    color: $playerColorBlue;
}
